applications/odata/documents/edmConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="ofbiz-edm">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="Action"/>
                    <xs:element ref="ComplexType"/>
                    <xs:element ref="EntityType"/>
                    <xs:element ref="EnumType"/>
                    <xs:element ref="Function"/>
                    <xs:element ref="view-entity"/>
                </xs:choice>
                <xs:element ref="EntityContainer"/>
            </xs:choice>
            <xs:attribute name="ImportGlobal" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Action">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
                <xs:element minOccurs="0" ref="ReturnType"/>
            </xs:sequence>
            <xs:attribute name="EntitySetPath" type="xs:NCName"/>
            <xs:attribute name="IsBound" type="xs:boolean"/>
            <xs:attribute name="IsEntityAction" type="xs:boolean"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="OfbizService"/>
            <xs:attribute name="StickySession" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ComplexType">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Property"/>
            </xs:sequence>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="OfbizClass"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EntityType">
        <xs:annotation>
            <xs:documentation>Definition of entity</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Property"/>
                <xs:element ref="SemanticKey"/>
                <xs:element ref="RelAlias"/>
                <xs:element ref="Key"/>
                <xs:element ref="HeaderInfo"/>
                <xs:element ref="LineItem"/>
                <xs:element ref="FieldGroup"/>
                <xs:element ref="SelectionFields"/>
                <xs:element ref="Exclude"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="NavigationProperty"/>
            </xs:choice>
            <xs:attribute name="AutoId" type="xs:boolean"/>
            <xs:attribute name="OfbizEntity" type="xs:NCName"/>
            <xs:attribute name="DraftEntityName" type="xs:NCName"/>
            <xs:attribute name="AttrDateEntityName" type="xs:NCName"/>
            <xs:attribute name="AttrEntityName" type="xs:NCName"/>
            <xs:attribute name="AttrNumericEntityName" type="xs:NCName"/>
            <xs:attribute name="AutoAnnotations" type="xs:boolean"/>
            <xs:attribute name="AutoProperties" type="xs:boolean"/>
            <xs:attribute name="AutoNavigations" type="xs:boolean"/>
            <xs:attribute name="HasStream" type="xs:boolean"/>
            <xs:attribute name="BaseType" type="xs:NCName"/>
            <xs:attribute name="OpenType" type="xs:boolean"/>
            <xs:attribute name="EntityCondition"/>
            <xs:attribute name="GroupBy" type="xs:boolean"/>
            <xs:attribute name="Handler" type="xs:anyURI"/>
            <xs:attribute name="LabelPrefix" type="xs:NCName"/>
            <xs:attribute name="InMemory" type="xs:boolean"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="SearchOption"/>
            <xs:attribute name="hasDerivedEntity" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RelAlias">
        <xs:complexType>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Relations" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReferentialConstraint">
        <xs:complexType>
            <xs:attribute name="Property" use="required" type="xs:NCName"/>
            <xs:attribute name="ReferencedProperty" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NavigationProperty">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReferentialConstraint"/>
            </xs:sequence>
            <xs:attribute name="AutoBinding" type="xs:boolean"/>
            <xs:attribute name="ContainsTarget" type="xs:boolean"/>
            <xs:attribute name="CreateService" type="xs:NCName"/>
            <xs:attribute name="FilterByDate" type="xs:boolean"/>
            <xs:attribute name="Handler" type="xs:anyURI"/>
            <xs:attribute name="IsCollection" type="xs:boolean"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Partner" type="xs:NCName"/>
            <xs:attribute name="Relations"/>
            <xs:attribute name="RemoveService" type="xs:NCName"/>
            <xs:attribute name="Type" type="xs:NCName"/>
            <xs:attribute name="ReadOnly" type="xs:boolean"/>
            <xs:attribute name="HandlerNode" type="xs:anyURI"/>
            <xs:attribute name="PreCreate" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EnumType">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Member"/>
            </xs:sequence>
            <xs:attribute name="EntityCondition"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="OfbizEntity" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Member">
        <xs:complexType>
            <xs:attribute name="Name" use="required" type="xs:NMTOKEN"/>
            <xs:attribute name="Value" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Function">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
                <xs:element ref="ReturnType"/>
            </xs:sequence>
            <xs:attribute name="EntitySetPath" type="xs:anyURI"/>
            <xs:attribute name="IsBound" type="xs:boolean"/>
            <xs:attribute name="IsComposable" type="xs:boolean"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="OfbizService"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="EntityContainer">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="EntitySet"/>
                    <xs:element ref="ActionImport"/>
                    <xs:element ref="FunctionImport"/>
                    <xs:element ref="Singleton"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EntitySet">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="NavigationPropertyBinding"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Annotation"/>
            </xs:sequence>
            <xs:attribute name="EntityCondition"/>
            <xs:attribute name="EntityType" use="required" type="xs:NCName"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Handler" type="xs:anyURI"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Annotation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Record"/>
            </xs:sequence>
            <xs:attribute name="Term" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Record">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="PropertyValue"/>
            </xs:sequence>
            <xs:attribute name="Type" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PropertyValue">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Collection"/>
            </xs:sequence>
            <xs:attribute name="Bool" type="xs:boolean"/>
            <xs:attribute name="Property" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Collection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PropertyPath"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PropertyPath" type="xs:NCName"/>
    <xs:element name="ActionImport">
        <xs:complexType>
            <xs:attribute name="Action" use="required" type="xs:NCName"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="FunctionImport">
        <xs:complexType>
            <xs:attribute name="Function" use="required" type="xs:NCName"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Singleton">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="NavigationPropertyBinding"/>
            </xs:sequence>
            <xs:attribute name="Handler" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Type" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Key">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="PropertyRef"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SemanticKey">
        <xs:complexType>
            <xs:attribute name="PropertyPath"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValueList">
        <xs:complexType>
            <xs:attribute name="CollectionPath" type="xs:NCName"/>
            <xs:attribute name="WithFixedValues" type="xs:boolean"/>
            <xs:attribute name="ParameterDisplayOnly"/>
            <xs:attribute name="Label"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Title">
        <xs:complexType>
            <xs:attribute name="Path" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description">
        <xs:complexType>
            <xs:attribute name="Path" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DataField">
        <xs:complexType>
            <xs:attribute name="Values"/>
            <xs:attribute name="Importance" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DataFieldForAction">
        <xs:complexType>
            <xs:attribute name="Label"/>
            <xs:attribute name="Action" type="xs:NCName"/>
            <xs:attribute name="InvocationGrouping" type="xs:NCName"/>
            <xs:attribute name="Criticality" type="xs:NCName"/>
            <xs:attribute name="Inline" type="xs:boolean"/>
            <xs:attribute name="Importance" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="HeaderInfo">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" ref="Title"/>
                <xs:element minOccurs="0" ref="Description"/>
            </xs:all>
            <xs:attribute name="TypeName"/>
            <xs:attribute name="TypeNamePlural"/>
            <xs:attribute name="ImageUrl"/>
            <xs:attribute name="TypeImageUrl"/>
            <xs:attribute name="Initials"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SelectionFields">
        <xs:complexType>
            <xs:attribute name="PropertyPath"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="LineItem">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="DataField"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="DataFieldForAction"/>
            </xs:choice>
            <xs:attribute name="Qualifier" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="FieldGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="DataField"/>
            </xs:sequence>
            <xs:attribute name="Qualifier" type="xs:NCName"/>
            <xs:attribute name="Label"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PropertyRef">
        <xs:complexType>
            <xs:attribute name="Name" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Property">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" ref="Text"/>
                <xs:element minOccurs="0" ref="ValueList"/>
            </xs:all>
            <xs:attribute name="Field" type="xs:NCName"/>
            <xs:attribute name="IsAttribute" type="xs:boolean"/>
            <xs:attribute name="IsCollection" type="xs:boolean"/>
            <xs:attribute name="IsDateAttribute" type="xs:boolean"/>
            <xs:attribute name="IsNumericAttribute" type="xs:boolean"/>
            <xs:attribute name="Label"/>
            <xs:attribute name="Computed" type="xs:boolean"/>
            <xs:attribute name="Immutable" type="xs:boolean"/>
            <xs:attribute name="IsImageURL" type="xs:boolean"/>
            <xs:attribute name="MultiLineText" type="xs:boolean"/>
            <xs:attribute name="ExcludeFromNavigationContext" type="xs:boolean"/>
            <xs:attribute name="Hidden" type="xs:boolean"/>
            <xs:attribute name="HiddenFilter" type="xs:boolean"/>
            <xs:attribute name="SemanticObject" type="xs:NCName"/>
            <xs:attribute name="FieldControl" type="xs:NCName"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Nullable" type="xs:boolean"/>
            <xs:attribute name="Precision" type="xs:integer"/>
            <xs:attribute name="RelAlias" type="xs:NCName"/>
            <xs:attribute name="Scale" type="xs:integer"/>
            <xs:attribute name="Type" type="xs:NCName"/>
            <xs:attribute name="MimeType" type="xs:anyURI"/>
            <xs:attribute name="DefaultValue" type="xs:anyURI"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Text">
        <xs:complexType>
            <xs:attribute name="Path" use="required"/>
            <xs:attribute name="TextArrangement" use="required" type="xs:NCName"/>
            <xs:attribute name="Computed" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Parameter">
        <xs:complexType>
            <xs:attribute name="IsCollection" type="xs:boolean"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Type" use="required" type="xs:NCName"/>
            <xs:attribute name="Nullable" type="xs:boolean"/>
            <xs:attribute name="Precision" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReturnType">
        <xs:complexType>
            <xs:attribute name="Type" use="required" type="xs:NCName"/>
            <xs:attribute name="IsCollection" type="xs:boolean"/>
            <xs:attribute name="Nullable" type="xs:boolean"/>
            <xs:attribute name="Name" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NavigationPropertyBinding">
        <xs:complexType>
            <xs:attribute name="Path" use="required" type="xs:NCName"/>
            <xs:attribute name="Target" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="description">
    </xs:element>
    <xs:element name="Exclude">
        <xs:complexType>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="view-entity">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" ref="description"/>
                <xs:element maxOccurs="unbounded" ref="member-entity"/>
                <xs:element maxOccurs="unbounded" ref="alias-all"/>
                <xs:element maxOccurs="unbounded" ref="alias"/>
                <xs:element maxOccurs="unbounded" ref="view-link"/>
                <xs:element maxOccurs="unbounded" ref="relation"/>
            </xs:choice>
            <xs:attribute name="entity-name" use="required" type="xs:NCName"/>
            <xs:attribute name="package-name" use="required" type="xs:NCName"/>
            <xs:attribute name="never-cache" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="member-entity">
        <xs:complexType>
            <xs:attribute name="entity-alias" use="required" type="xs:NCName"/>
            <xs:attribute name="entity-name" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="alias-all">
        <xs:complexType>
            <xs:attribute name="entity-alias" use="required" type="xs:NCName"/>
            <xs:attribute name="group-by" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="alias">
        <xs:complexType>
            <xs:attribute name="entity-alias" use="required" type="xs:NCName"/>
            <xs:attribute name="field" use="required" type="xs:NCName"/>
            <xs:attribute name="prim-key" type="xs:boolean"/>
            <xs:attribute name="name" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="view-link">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="key-map"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="entity-condition"/>
            </xs:sequence>
            <xs:attribute name="entity-alias" use="required" type="xs:NCName"/>
            <xs:attribute name="rel-entity-alias" use="required" type="xs:NCName"/>
            <xs:attribute name="rel-optional" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="entity-condition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="condition-expr"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="condition-expr">
        <xs:complexType>
            <xs:attribute name="entity-alias" use="required" type="xs:NCName"/>
            <xs:attribute name="field-name" use="required" type="xs:NCName"/>
            <xs:attribute name="value" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="relation">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="key-map"/>
            </xs:sequence>
            <xs:attribute name="rel-entity-name" use="required" type="xs:NCName"/>
            <xs:attribute name="title" type="xs:NCName"/>
            <xs:attribute name="type" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="key-map">
        <xs:complexType>
            <xs:attribute name="field-name" use="required" type="xs:NCName"/>
            <xs:attribute name="rel-field-name" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
